#frontend
VITE_BACKEND_API_URL=
VITE_SOCKET_SERVER_URL=
VITE_Maps_API_KEY=


#backend
# MongoDB Connection URI
MONGO_URI=

twilio_recovery_key=

# Port for the Express server
PORT=

REDIS_URL=

CLIENT_URL=
# JWT Secret for authentication tokens 
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN= # e.g., 7 days, 30d for 30 days
JWT_EXPIRES_IN=
# Twilio Credentials for OTP 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
OTP_LENGTH=
# Cloudinary Credentials for Image Upload 
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Razorpay API Keys 
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

EMAIL_FROM=
SMTP_HOST= # e.g., smtp.sendgrid.net, smtp.mailgun.org, smtp.gmail.com
SMTP_PORT= # or 465
SMTP_SECURE= # Set to true if using SSL (port 465), false otherwise (port 587/TLS)
# SMTP_USER="Example@gmail.com"
SMTP_USER=
# SMTP_PASS="" #karewar mail
SMTP_PASS="" #passitpal mail


# If you're using Gmail for testing, it might be:
# EMAIL_FROM="PassItPal@gmail.com"
# SMTP_HOST="smtp.gmail.com"
# SMTP_PORT="587"
# SMTP_SECURE="false"
# SMTP_USER="your_gmail@gmail.com"
# SMTP_PASS="your_gmail_app_password" # Use an App Password if 2FA is enabled

# server/.env



# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI= # Match with what  entered in Google Console

GOOGLE_MAPS_API_KEY=
